<section class="home-container">
    <img src="assets/Logo 2.png" class="logo" alt="Logo Roca Firme Modulares" />
  
    <h1 class="titulo">Bienvenidos a Roca Firme Modulares</h1>
    <p class="slogan">Transformamos tu hogar con diseño y fe</p>
  
    <div class="slider">
      <img src="assets/img/Closet master.jpg" alt="Diseño 1">
      <img src="assets/img/Cocina moderna.jpg" alt="Diseño 2">
      <img src="assets/img/Sala de entretenimiento.jpg" alt="Diseño 3">
    </div>
  
    <a href="https://wa.me/59383567874" target="_blank">
      <button class="btn-wsp">Contáctanos por WhatsApp</button>
    </a>
  </section>
  